body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: goldenrod;
    margin: 50px;
}

.container {
    max-width: 400px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.container2 {
    max-width: 400px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.container3 {
    max-width: 400px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.container4 {
    max-width: 400px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.container5 {
    max-width: 400px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}


h1 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

p {
    background-color: rgba(210, 142, 17, 0.391);
    font-size: 18px;
    margin: 20px 0;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: goldenrod;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: orange;
}